{:deps {io.github.teodorlu/pandocir {:local/root "."}
        com.lambdaisland/launchpad {:mvn/version "0.28.129-alpha"}}
 :tasks
 {lint (shell "clj-kondo --fail-level error --lint src test")
  pandoc-tests (clojure "-X:pandoc-tests")}}
