{:deps {io.github.teodorlu/pandoc2hiccup {:local/root "."}
        com.lambdaisland/launchpad {:mvn/version "0.28.129-alpha"}}
 :bbin/bin {pandoc2hiccup {:main-opts ["-m" "teodorlu.pandoc2hiccup/-main"]}}}
